{% extends "base.html" %}
{% block content %}
<div>
    <div class="card center-div">
        <div class="card-header">
            <h4>WATCH LIST</h4>
        </div>
        <ul class="list-group list-group-flush">
            {% for course in courses %}
                <li class="list-group-item">

                    <label>Name:</label>
                    <input type="text" value="{{course.name}}">

                    <label>Tag:</label>
                    <select>
                        {% for tag in tags %}
                            {% if tag == course.channel_tag %}
                                <option selected>{{tag}}</option>
                            {% else %}
                                <option>{{tag}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <label>URL:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">https://www.fer.unizg.hr/predmet/</span>
                        </div>
                        <input type="text" value="{{course.url}}" class="form-control" aria-describedby="basic-addon3">
                    </div>

                    <div class="checkbox">
                        <label>
                            {% if course.watch %}
                                <input type="checkbox" data-toggle="toggle" checked> Watch
                            {% else %}
                                <input type="checkbox" data-toggle="toggle"> Watch
                            {% endif %}
                        </label>
                    </div>

                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
