{% extends "base.html" %}
{% block content %}
<div>
    <div class="card center-div">
        <div class="card-header">
            <h4>COURSE WATCH LIST</h4>
        </div>
        <ul class="list-group list-group-flush">
            {% for course in watched_courses %}
                <li class="list-group-item">

                    <form class="grid-wrapper-custom" action="{{url_for('app_ui.course_handler')}}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.csrf_token }}
                        <div hidden>
                            {{ form.id(value=course.id) }}
                        </div>

                        <div class="grid-watchlist-name">
                            {{ form.name.label }}<br>
                            {{ form.name(class_="watchlist-common", value=course.name) }}
                        </div>

                        <div class="grid-watchlist-tag">
                            <label>Tag:</label><br>
                            <label>
                                <select class="watchlist-common tag-input" name="tag_select">
                                    {% for tag in tags %}
                                        {% if tag == course.channel_tag %}
                                            <option selected>{{tag}}</option>
                                        {% else %}
                                            <option>{{tag}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </label>
                        </div>

                        <div class="grid-watchlist-url">
                            {{ form.url.label }}<br>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">https://www.fer.unizg.hr/predmet/</span>
                                </div>
                                {{ form.url(class_="watchlist-common url-input", value=course.url) }}
                            </div>
                        </div>

                        <div class="checkbox grid-watchlist-watch">
                            <label>Watch:</label><br>
                            <label>
                                <input name="watch_input" type="checkbox" data-toggle="toggle" class="watchlist-common" {% if course.watch %} checked {% endif %}>
                            </label>
                        </div>

                        <div class="grid-watchlist-actions">
                            <button type="submit" class="course-add">
                                <svg id="submit-icon" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" onclick="">
                                    <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </button>

                            <button type="reset" class="course-reset">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
                                    <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
                                </svg>
                            </button>

                            <button type="button" class="course-delete" id="deleteCourse" onclick="delete_course('{{course.id}}')">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                </svg>
                            </button>


                        </div>

                    </form>

                </li>
            {% endfor %}
            <li class="list-group-item">
                <form action="" method="post" novalidate class="grid-wrapper-custom">

                    {{ form.hidden_tag() }}
                    {{ form.csrf_token }}

                    <div hidden>
                        {{ form.id(value=-1) }}
                    </div>

                    <div class="grid-watchlist-name">
                        {{ form.name.label }}<br>
                        {{ form.name(class_="watchlist-common") }}
                    </div>

                    <div class="grid-watchlist-tag">
                        <label>Tag:</label>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill tag-add" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
                        </svg>
                        <br>
                        <label>
                            <select class="watchlist-common tag-input" name="tag_select">
                                {% for tag in tags %}
                                    {% if tag == '#general' %}
                                        <option selected>{{tag}}</option>
                                    {% else %}
                                        <option>{{tag}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </label>
                    </div>

                    <div class="grid-watchlist-url">
                        {{ form.url.label }}<br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">https://www.fer.unizg.hr/predmet/</span>
                            </div>
                            {{ form.url(class_="watchlist-common url-input") }}
                        </div>
                    </div>

                    <div class="checkbox grid-watchlist-watch">
                        <label>Watch:</label><br>
                        <label>
                            <input name="watch_input" type="checkbox" data-toggle="toggle" class="watchlist-common" checked>
                        </label>
                    </div>

                    <div class="grid-watchlist-actions">
                        <button type="submit" class="course-add">
                            <svg id="submit-icon" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" onclick="">
                                <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </button>

                        <button type="reset" class="course-reset">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
                                <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
                            </svg>
                        </button>

                    </div>

                </form>
            </li>
        </ul>

    </div>
</div>

<div class="card-top-spacing">
    <div class="card center-div">
        <div class="card-header">
            <h4>COURSE WATCH LIST</h4>
        </div>
        <ul class="list-group list-group-flush">
            {% for course in unwatched_courses %}
                <li class="list-group-item">

                    <form class="grid-wrapper-custom" action="{{url_for('app_ui.course_handler')}}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.csrf_token }}
                        <div hidden>
                            {{ form.id(value=course.id) }}
                        </div>

                        <div class="grid-watchlist-name">
                            {{ form.name.label }}<br>
                            {{ form.name(class_="watchlist-common", value=course.name) }}
                        </div>

                        <div class="grid-watchlist-tag">
                            <label>Tag:</label><br>
                            <label>
                                <select class="watchlist-common tag-input" name="tag_select">
                                    {% for tag in tags %}
                                        {% if tag == course.channel_tag %}
                                            <option selected>{{tag}}</option>
                                        {% else %}
                                            <option>{{tag}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </label>
                        </div>

                        <div class="grid-watchlist-url">
                            {{ form.url.label }}<br>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">https://www.fer.unizg.hr/predmet/</span>
                                </div>
                                {{ form.url(class_="watchlist-common url-input", value=course.url) }}
                            </div>
                        </div>

                        <div class="checkbox grid-watchlist-watch">
                            <label>Watch:</label><br>
                            <label>
                                <input name="watch_input" type="checkbox" data-toggle="toggle" class="watchlist-common" {% if course.watch %} checked {% endif %}>
                            </label>
                        </div>

                        <div class="grid-watchlist-actions">
                            <button type="submit" class="course-add">
                                <svg id="submit-icon" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" onclick="">
                                    <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </button>

                            <button type="reset" class="course-reset">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
                                    <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
                                </svg>
                            </button>

                            <button type="button" class="course-delete" onclick="delete_course('{{course.id}}')">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                  <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                </svg>
                            </button>

                        </div>

                    </form>

                </li>
            {% endfor %}
        </ul>

    </div>
</div>

<script type=text/javascript>
    function delete_course(id) {
        $.post("/ui/course/delete?id=" + id, function(data){},"json");
        window.location.href = '/ui/course';
    }
</script>


{% endblock content %}
