{% extends "base.html" %}
{% block content %}
<div>
    <div class="card center-div">
        <div class="card-header">
            <h4>WATCH LIST</h4>
        </div>
        <ul class="list-group list-group-flush">
            {% for course in courses %}
                <li class="list-group-item">

                    <div class="grid-wrapper-custom">
                        <div class="grid-watchlist-name">
                            <label>Name:</label><br>
                            <input type="text" value="{{course.name}}" class="watchlist-common">
                        </div>

                        <div class="grid-watchlist-tag">
                            <label>Tag:</label><br>
                            <select class="watchlist-common tag-input">
                                {% for tag in tags %}
                                    {% if tag == course.channel_tag %}
                                        <option selected>{{tag}}</option>
                                    {% else %}
                                        <option>{{tag}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="grid-watchlist-url">
                            <label>URL:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">https://www.fer.unizg.hr/predmet/</span>
                                </div>
                                <input type="text" value="{{course.url}}" class="url-input watchlist-common" aria-describedby="basic-addon3">
                            </div>
                        </div>

                        <div class="checkbox grid-watchlist-watch">
                            <label>Watch:</label><br>
                            <label>
                                {% if course.watch %}
                                    <input type="checkbox" data-toggle="toggle" class="watchlist-common" checked>
                                {% else %}
                                    <input type="checkbox" data-toggle="toggle" class="watchlist-common">
                                {% endif %}
                            </label>
                        </div>
                    </div>

                </li>
            {% endfor %}
            <li class="list-group-item">
                <form action="" method="post" novalidate class="grid-wrapper-custom">

                    {{ form.hidden_tag() }}
                    {{ form.csrf_token }}

                    <div class="grid-watchlist-name">
                        {{ form.name.label }}<br>
                        {{ form.name(class_="watchlist-common") }}
                    </div>

                    <div class="grid-watchlist-tag">
                        {{ form.tag.label }}<br>
                        {{ form.tag(class_="watchlist-common tag-input") }}
                    </div>

                    <div class="grid-watchlist-url">
                        {{ form.url.label }}<br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">https://www.fer.unizg.hr/predmet/</span>
                            </div>
                            {{ form.url(class_="watchlist-common url-input") }}
                        </div>
                    </div>

                    <div class="checkbox grid-watchlist-watch">
                        {{ form.watch.label }}<br>
                        <label>
                            {{ form.watch(class_="watchlist-common", data_toggle="toggle", checked=True) }}
                        </label>
                    </div>

                    <div>
                        <p>{{ form.submit() }}</p>
                    </div>

                </form>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}
