{% extends "base.html" %}
{% block content %}

<button onclick="startReactionScan()">Start reaction scan</button>
<span>
    <div style="margin-top: 3px;" id="reaction-scan-spinner" class="spinner-border text-primary spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <button class="no-button" data-toggle="tooltip" data-placement="bottom" title="Look up logs for more information">
        <svg id="reaction-scan-error" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </button>
    <svg id="reaction-scan-success" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
    </svg>
</span>
<div>
    <input id="time_picker" width="276" />
    <button onclick="saveNewTime()">Save</button>
</div>
<div>
    <label onclick="toggleAutomaticReactionScan()">
        <input id="scan-toggle" type="checkbox" data-toggle="toggle" {% if alive %} checked {% endif %}>
    </label>
</div>
</div>


<script>

    function hideReactionProcessElements() {
        $('#reaction-scan-spinner').toggle();
        $('#reaction-scan-error').hide();
        $('#reaction-scan-success').hide();
    }

    $(document).ready(function(){
        hideReactionProcessElements();
    });

    function startReactionScan() {
        hideReactionProcessElements();
        $.ajax({
            url: '/ui/reaction/scan',
            type: 'get',
            statusCode: {
                200: function () {
                    $('#reaction-scan-spinner').toggle();
                    $('#reaction-scan-success').show();
                },
                500: function () {
                    $('#reaction-scan-spinner').toggle();
                    $('#reaction-scan-error').show();
                }
            }
        })
    }
</script>
<script>

    $('#time_picker').timepicker();

    function saveNewTime() {
        $.ajax({
            url: '/ui/reaction/time',
            type: 'post',
            data: { time: $('#time_picker').val()},
            contentType: 'application/json;charset=UTF-8'
        });
    }
</script>
<script>

    $(document).ready(function() {
    setInterval(function(){
        $.getJSON('/ui/reaction/automatic', function (data) {
            if (data.status === '1') {

            } else if (data.status === '0' && $('#scan-toggle').is(':checked')) {
                location.reload();
            }
        });
    },10000)
    });

    function toggleAutomaticReactionScan() {
        $.ajax({
            url: '/ui/reaction/automatic/flip',
            type: 'get'
        });
    }
</script>
{% endblock content %}