{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
   <div class="card center-div">
       <div class="card-header">
            <h4 data-toggle="tooltip" data-placement="top"
                title="Controls for reaction scanner">
                REACTION SCANNER CONTROLS
            </h4>
        </div>
       <div class="row" style="margin-top: 10px; margin-left: 10px">
           <div class="col-md-5 col-xs-5 d-flex justify-content-left">
               <label>Manual start</label>
           </div>
           <div class="col-md-2 col-xs-2 d-flex justify-content-center">
               <div class="spinner-border text-primary spinner-border-sm"
                style="margin-top: 3px;" id="reaction-scan-spinner"
                role="status">
                <span class="sr-only">Loading...</span>
               <span>
                    <button class="no-button" data-toggle="tooltip" data-placement="bottom" title="Look up logs for more information">
                        <svg id="reaction-scan-error" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                    <svg id="reaction-scan-success" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                    </svg>
                </span>
            </div>
           </div>

           <div class="col-md-5 col-xs-5 d-flex justify-content-center">
               <button class="btn btn-primary" onclick="startReactionScan()">Start reaction scan</button>
           </div>
       </div>

        <div class="row" style="margin-top: 15px; margin-left: 10px">
            <div class="col-md-7 col-xs-7 d-flex justify-content-left">
               <label>Schedule automatic scan</label>
            </div>
            <div class="col-md-5 col-xs-5 d-flex justify-content-center">
                <label onclick="toggleAutomaticReactionScan()">
                <input id="scan-toggle" type="checkbox" data-toggle="toggle" {% if alive %} checked {% endif %}>
                </label>
            </div>
         </div>
         <div class="row" style="margin-top: 5px; margin-left: 10px; margin-bottom: 10px" >
           <div class="col-md-7 col-xs-7 d-flex justify-content-left">
               <input id="time_picker" width="276" />
           </div>
           <div class="col-md-5 col-xs-5 d-flex justify-content-center">
               <button class="btn btn-primary" onclick="saveNewTime()">Save</button>
           </div>

        </div>
   </div>

    <div class="card card-top-spacing center-div">
        <div class="card-header">
            <h4 data-toggle="tooltip" data-placement="top"
                title="Controls for reaction scanner">
                REACTIONS OVERVIEW
            </h4>
        </div>
        <div>
            <div class="row" style="margin-top: 2%; margin-bottom: 2%">
                <div class="col d-flex justify-content-center">
                    <label>
                        Reaction name
                    </label>
                </div>
                 <div class="col d-flex justify-content-center">
                    <input type="text" name="reaction_name" id="reaction_name">
                 </div>
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-primary" id="submit_btn" type="button" onclick="reactionNameSend();">Submit</button>
                </div>
            </div>
        </div>

        <div class="row" id="data_output">
            <div class="col container">
                <div class="card">
                    <div class="card-header d-flex justify-content-center">
                        <h6 data-toggle="tooltip" data-placement="top"
                            title="Controls for reaction scanner">
                            Top senders
                        </h6>
                    </div>
                    <ul class="list-group list-group-flush d-flex justify-content-center">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <b>Sender</b>
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <b>Count</b>
                                </div>
                            </div>
                        </li>
                        {% for sender, count in senders %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        {{ sender }}
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        {{ count }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col container">
                <div class="card">
                    <div class="card-header d-flex justify-content-center">
                        <h6 data-toggle="tooltip" data-placement="top"
                            title="Controls for reaction scanner">
                            Top receivers
                        </h6>
                    </div>
                     <ul class="list-group list-group-flush d-flex justify-content-center">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <b>Receiver</b>
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <b>Count</b>
                                </div>
                            </div>
                        </li>
                        {% for receiver, count in receivers %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        {{ receiver }}
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        {{ count }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        <div class="col container">
               <div class="card">
                    <div class="card-header d-flex justify-content-center">
                        <h6 data-toggle="tooltip" data-placement="top"
                            title="Controls for reaction scanner">
                            Top channels
                        </h6>
                    </div>
                   <ul class="list-group list-group-flush d-flex justify-content-center">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <b>Channel</b>
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <b>Count</b>
                                </div>
                            </div>
                        </li>
                        {% for channel, count in top_channels %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        {{ channel }}
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        {{ count }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col container">
                <div class="card">
                    <div class="card-header d-flex justify-content-center">
                        <h6 data-toggle="tooltip" data-placement="top"
                            title="Controls for reaction scanner">
                            Latest reactions
                        </h6>
                    </div>
                    <ul class="list-group list-group-flush d-flex justify-content-center">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <b>Sender</b>
                                </div>
                                <div class="col">
                                    <b>Receiver</b>
                                </div>
                                <div class="col">
                                    <b>Channel</b>
                                </div>
                                <div class="col">
                                    <b>Time</b>
                                </div>
                            </div>
                        </li>
                        {% for sender, receiver, channel, time in latest_reactions %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        {{ sender }}
                                    </div>
                                    <div class="col">
                                        {{ receiver }}
                                    </div>
                                    <div class="col">
                                        {{ channel }}
                                    </div>
                                    <div class="col">
                                        {{ time }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>

    function hideReactionProcessElements() {
        $('#reaction-scan-spinner').toggle();
        $('#reaction-scan-error').hide();
        $('#reaction-scan-success').hide();
    }

    $(document).ready(function(){
        hideReactionProcessElements();
    });

    function startReactionScan() {
        hideReactionProcessElements();
        $.ajax({
            url: '/ui/reaction/scan',
            type: 'get',
            statusCode: {
                200: function () {
                    $('#reaction-scan-spinner').toggle();
                    $('#reaction-scan-success').show();
                },
                500: function () {
                    $('#reaction-scan-spinner').toggle();
                    $('#reaction-scan-error').show();
                }
            }
        })
    }
</script>
<script>

    $('#time_picker').timepicker();

    function saveNewTime() {
        $.ajax({
            url: '/ui/reaction/time',
            type: 'post',
            data: { time: $('#time_picker').val()},
            contentType: 'application/json;charset=UTF-8'
        });
    }
</script>
<script>

    $(document).ready(function() {
    setInterval(function(){
        $.getJSON('/ui/reaction/automatic', function (data) {
            if (data.status === '1') {

            } else if (data.status === '0' && $('#scan-toggle').is(':checked')) {
                location.reload();
            }
        });
    },10000)
    });

    function toggleAutomaticReactionScan() {
        $.ajax({
            url: '/ui/reaction/automatic/flip',
            type: 'get'
        });
    }
</script>
<script>
function reactionNameSend() {
    let name = $("#reaction_name").val();
    name = name.replace('+', '%2b');
    if(name === ''){
        name = 'default';
    }
    window.location.href = '/ui/reaction/' + name;
}
</script>
<script>
     function refreshView() {
    $.ajax({
        url: '/ui/reaction/refreshView',
        type: 'get'
    });
}
</script>
<script>
    $( "#reaction_name" ).keyup(function( event ) {
        if (event.keyCode === 13) {
            reactionNameSend();
        }
    });
</script>

{% endblock content %}