{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

<div class="container mx-auto my-5 bg-white">

	<div class="row my-4 justify-content-center">
		<h4 class="my-1">Filters</h4>
	</div>

	<div class="row my-4">
		<div class="col-sm-auto">
			<label class="label" for="course">Course:</label>
		</div>
		<div class="col-sm">
				<select class="custom-select" id="course">
					<option selected></option>
					<option>Choice A</option>
					<option>Choice B</option>
				</select>
		</div>

		<div class="col-sm-auto">
			<label class="label" for="author">Author:</label>
		</div>
		<div class="col-sm">
				<select class="custom-select" id="author">
					<option selected></option>
					<option>Choice A</option>
					<option>Choice B</option>
				</select>
		</div>

		<div class="col-sm-auto">
			<label class="label" for="from">From:</label>
		</div>
		<div class="col-sm">
				<select class="custom-select" id="from">
					<option selected></option>
					<option>Choice A</option>
					<option>Choice B</option>
				</select>
		</div>

		<div class="col-sm-auto">
			<label class="label" for="to">To:</label>
		</div>
		<div class="col-sm">
				<select class="custom-select" id="to">
					<option selected></option>
					<option>Choice A</option>
					<option>Choice B</option>
				</select>
		</div>
		<div class="col-sm-auto">
				<label class="custom-check-label" for="check">Posted</label>
		</div>
		<div class="col-sm-auto">
			<input type="checkbox" class="custom-check-input" id="check">
		</div>
	</div>

	<div class="row my-4 justify-content-end">
			<button type="button" class="btn btn-danger mx-1 my-1">Cancel</button>
			<button type="button" class="btn btn-primary mx-1 my-1">Apply</button>
	</div>

</div>

<div class="container mx-auto my-5 bg-white">
	<table data-toggle="table" data-sort-order="desc">
		<thead>
			<tr>
				<th data-sortable="true">End date</th>
				<th data-sortable="true">Timer</th>
				<th data-sortable="true">Text</th>
				<th data-sortable="true">Posted</th>
			</tr>
		</thead>
		<tbody>
			{% for reminder in reminders %}
			<tr>
				<td>{{ reminder.end_date }}</td>
				<td>{{ reminder.timer }}</td>
				<td>{{ reminder.text }}</td>
				<td>{{ reminder.posted }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}