.center-div {
    width: 75%;
    margin: auto;
}

.grid-wrapper-custom {
    display: grid;
}

.grid-watchlist-name {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-watchlist-tag {
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid-watchlist-url {
    grid-column-start: 3;
    grid-column-end: 4;
}

.grid-watchlist-watch {
    grid-column-start: 4;
    grid-column-end: 5;
}

.grid-watchlist-actions {
    grid-column-start: 5;
    grid-column-end: 6;
    margin-top: auto;
    margin-bottom: auto;
}

.url-input {
    width: 8vw;
}

.tag-input {
    width: 8vw;
}

.watchlist-common {
    height: 5vh;
}

.app-background {
    background-color: lightgrey;
    margin-top:10vh;
}

.tag-add-position {
    margin-left: 5vw;
    cursor: pointer;
}

.card-top-spacing {
    margin-top: 5vh;
}

.card-bottom-spacing {
    margin-bottom: 10vh;
}

.course-add, .course-reset, .course-delete, .course-archive, .tag-add {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.add-course-buttons {
    margin-right: 3.8vw;
}

.watch-label {
    margin-left: -1.2vw;
}

/*
 home.html
*/

.info-text {
    font-weight: bold;
    color: green;
}

.error-text {
    font-weight: bold;
    color: red;
}

.warning-text {
    font-weight: bold;
    color: orange;
}

.trace-text {
    font-weight: bold;
    color: cornflowerblue;
}

.error-trace {
    cursor: pointer;
}

.modal-data {
    width: 100%;
    height: 40vh;
}

.modal-dialog-custom {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.hidden-bar {
    display: none;
    background: aqua;
    cursor: pointer;
    background-color: aqua;
}

.scraper-button {
    width: 35vw;
}